---
import { Reserve, db } from "astro:db";
import Trash from "./Trash.svelte";

const reserves = await db.select().from(Reserve);
---

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="table-head">
      <tr>
        <th scope="col" class="px-6 py-3"> reserva</th>
        <th scope="col" class="px-6 py-3"> contacto</th>
        <th scope="col" class="px-6 py-3"> estado</th>
        <th scope="col" class="px-6 py-3"> acciones</th>
      </tr>
    </thead>
    <tbody>
      {
        reserves.length > 0 ? (
          reserves
            .reverse()
            .map(
              ({
                reserve_id,
                reserve_date,
                reserve_time,
                visitor_dni,
                visitor_name,
                visitor_email,
                reserve_status,
              }) => (
                <tr class="border-b hover:bg-white/20" id="reserve">
                  <td class="px-2 py-4">
                    <div class="flex flex-col">
                      <span>
                        {new Intl.DateTimeFormat("es-ES", {
                          dateStyle: "full",
                        }).format(reserve_date)}
                      </span>
                      <span>
                        <strong>Hora:</strong> <span>{reserve_time}</span>
                      </span>
                    </div>
                  </td>

                  <th scope="row" class="flex flex-col px-6 py-4 font-normal">
                    <span class="underline">{visitor_name}</span>
                    <span class="opacity-80" id="name">
                      {visitor_email}
                    </span>
                    <span>
                      CC:{" "}
                      <span class="underline" id="dni">
                        {visitor_dni}
                      </span>
                    </span>
                  </th>

                  <td class="px-6 py-4">
                    <span
                      id="status"
                      class:list={[
                        "text-sm font-medium me-2 px-2.5 py-0.5 rounded-full border-2",
                        {
                          "bg-green-100 text-green-800 border-green-500":
                            reserve_status == "ACTIVE",
                        },
                        {
                          "bg-red-100 text-red-800 border-red-500":
                            reserve_status == "CANCELLED",
                        },
                      ]}
                      class=" text-xs status"
                    >
                      {reserve_status}
                    </span>
                  </td>
                  <td class="px-6 py-4">
                    <Trash reserve_id={reserve_id} client:load />
                  </td>
                </tr>
              )
            )
        ) : (
          <tr>
            <td class="px-6 py-4" colspan="4">
              <div class="flex items-center justify-center">
                <span class="text-gray-400">No hay reservas</span>
              </div>
            </td>
          </tr>
        )
      }
    </tbody>
  </table>
</div>

<style>
  .table-head {
    @apply text-xs text-gray-700 uppercase bg-stone-100 border-y-2 border-stone-300;
  }
</style>
